body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin:0%;
}
img {
    max-width:100%;
    height: auto;
}
header a {
    text-decoration: none;
    color:white;   
}

header a:hover {
    color: black;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #393939;
    margin: 0;
    
    
    
}
header  h1 {
    font-weight: 100;
    
}
div.artist ul  {
    list-style-type: none;
}


header p {
    margin: 0%;
    
    text-transform: uppercase;
    
}
header input {
    border-radius: 20px;
    border-style: none;
}

header nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-style: italic;
    
    
}
main {
    margin: 0%;
}
main a {
    color: black;
    text-decoration: none;
    font-size: 15pt;
}
main a:hover {
    color: black;
    text-decoration: underline;
}


div.card11 {
    margin: auto;
    height: auto;
    text-align: center;   
}
div.card12 {
    margin: auto;
    height: auto;
    text-align: center;
}
.card1 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    list-style-type: none;
}
.card1 img {
    max-width: 60%;
}
div.card21 {
    margin: auto;
    height: auto;
    text-align: center;   
}
div.card22 {
    margin: auto;
    height: auto;
    text-align: center;
}
.card2 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    list-style-type: none;
}
.card2 img {
    max-width: 60%;
}
div.card31 {
    margin: auto;
    height: auto;
    text-align: center;   
}
div.card32 {
    margin: auto;
    height: auto;
    text-align: center;
}
.card3 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    list-style-type: none;
    padding-bottom: 50px;
}
.card3 img {
    max-width: 60%;
}

footer {
    background-color: #393939;
    padding-bottom: 10px;
    padding-top: 10px;
    width: auto;
    height: auto;
    justify-content: space-evenly;
    margin: 0%;
    display: flex;
    text-align: center;
    
    

      
}
footer ul {
    color: white;
    font-size: large;
    list-style-type: none;
}
footer a {
    color: white;
    font-style: italic;
    font-size:medium;
    text-decoration: none;    
}
.chisiamo {
    text-align: center;
}
@media (max-width: 700px){
    .header {
        display: block;
        width: 100%;
        margin: 0;
    }
}
.header  {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 1.5rem;
    
    padding-top: 40px;
}

    



