body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin:0%;
}
img {
    max-width:100%;
    height: auto;
}
header a {
    text-decoration: none;
    color:white;
    
    
}

header a:hover {
    color: black;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #393939;
    
    
    
    
}
header h1 {
    font-weight: 100;
}

header p {
    margin: 0;
    
    text-transform: uppercase;
    
}
header input {
    border-radius: 20px;
    
}

header nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-style: italic;
    
    
}
main ul {
    text-decoration: none;
    font-size: 20pt;
    gap: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    color: #5F380A;
    list-style-type: none;
    
    
    
}
main a:hover {
    color:black;
    text-decoration: underline;

}
main a {
    text-decoration: none;
    color: #393939;
    font-style: italic;
    
}
div.card11 {
    margin: auto;
    height: auto;
    text-align: center;   
}
div.card12 {
    margin: auto;
    height: auto;
    text-align: center;
}
.card1 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    list-style-type: none;
}
.card1 img {
    max-width: 60%;
}
div.card21 {
    margin: auto;
    height: auto;
    text-align: center;   
}
div.card22 {
    margin: auto;
    height: auto;
    text-align: center;
}
.card2 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    list-style-type: none;
}
.card2 img {
    max-width: 60%;
}
div.card31 {
    margin: auto;
    height: auto;
    text-align: center;   
}
div.card32 {
    margin: auto;
    height: auto;
    text-align: center;
}
.card3 {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    list-style-type: none;
}
.card3 img {
    max-width: 60%;
}
div.camilot {
    margin: 0%;
    padding-left: 30px;
          
}
.camilo {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
   background-color: #CEDDFF;
   align-items: center; 
}
div.camiloi img {
    max-width:50%;
}
.camilo11 img {
    max-width: 30%;
    object-fit: contain;
}
div.camilo1 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;
    
}

div.camilo2 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;
    
}
div.camilo3 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;
    padding-bottom: 100px;
    
}
.lahan {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
   background-color: #FFE6BC; 
   margin: auto;
   align-items: center;
}
div.lahani img {
    max-width: 35%;
           
}
div.lahani {
    width: auto;
    height:auto;
    text-align: center;
}
div.lahant {
    margin: 0%;
    padding-left: 30px;
    
}

.lahan11 img {
    max-width: 30%;
    object-fit: contain;
}
div.lahan1 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;
    
}

div.lahan2 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;
    
}
div.lahan3 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;
}

div.lahan4 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;
    padding-bottom: 100px;
}

div.freiert {
    margin: 0%;
    padding-left: 30px;
          
}
.freier {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
   background-color: #BED6B8;
   padding-bottom: 10px; 
   align-items: center;
}
div.freieri img {
    max-width:30%;
}
div.freieri {
    width: auto;
    height:auto;
    text-align: center;
}
.freier11 img {
    max-width: 30%;
    object-fit: contain;
}
div.freier1 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;
    
}

div.freier2 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;
    
}
div.freier3 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;
    padding-bottom: 100px;
    
}

div.herrerat {
    margin: 0%;
    padding-left: 30px;
          
}
.herrera {
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
   background-color: #FFBCB2;
   padding-bottom: 10px;
   align-items: center;
    
}
div.herrerai img {
    max-width:40%;
}
div.herrerai {
    width: auto;
    height: auto;
    text-align: center;
}
.herrera11 img {
    max-width: 25%;
    object-fit: contain;
}
div.herrera4 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;
    padding-bottom: 100px;
    
}

div.herrera2 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;
    
}
div.herrera3 {
    display: flex;
    justify-content: space-evenly;
    max-width: auto;
    padding-top: 40px;   
}
div.herrera4 img{
    max-width: 40%;
}
div.herrera1 img {
    max-width: 50%;
    padding: 30px;
    
}
div.herrera1 {
    width:auto;
    height: auto;
    text-align: center;
}

div.fritzt {
    margin: 0%;
    padding-left: 30px;
          
}
.fritz {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
   background-color: #D9EFFF;
   align-items:center;
   
    
}
div.fritzi img {
    max-width:60%;
}
div.fritzi {
    width: auto;
    height: auto;
    
    
}
.fritz11 {
    width: auto;
    height: auto;
}
.fritz11 img {
    object-fit: contain;
    height: auto;
    max-width: 25%;
}
div.fritz1 {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    padding-top: 40px;  
    
}

div.fritz2 {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    padding-top: 40px;   
}
div.fritz3 {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    padding-top: 40px;   
}
div.fritz3 img {
    max-width: 40%;
    object-fit: contain;
}
div.fritz4 {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    padding-top: 40px;  
    padding-bottom: 100px; 
}

div.bocat {
    margin: 0%;
    padding-left: 30px;
}
.boca {
    background-color:#FFC0BF;
    padding-top: 10px;
    padding-bottom: 15px;
}
.boca11 img {
    object-fit: contain;
    height: auto;
    max-width: 25%;
}
div.boca1 {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    padding-top: 40px; 
}
div.boca2 {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    padding-top: 40px; 
}
div.boca3  {
    justify-content: space-evenly;
    width: auto;
    height: auto;
    padding-top: 40px;
    display: flex;
}

div.boca4  {
    justify-content: space-evenly;
    width: auto;
    height: auto;
    padding-top: 40px;
    display: flex;
    padding-bottom: 100px;
}
footer {
    background-color: #393939;
    padding-bottom: 20px;
    width: auto;
    height: auto;
      
}
footer ul {
    color: white;
    font-size: large;
}
footer a {
    color: white;
    font-style: italic;
    font-size:medium;
}



